/* small phone screen from 0px to 480px */
@media only screen and (max-width:480px)
{
    .hero-text-box
    {
    position: absolute;
    padding:0 5%;   
    }
    .row{
        padding: 0 5%;
    }
    .plan-box
    {  
      width: 60%;
      margin-left: 0px;
      margin-bottom: 20px;
     
    }
    .form{
        width:80%;
        margin-left: 0px;
    }

    .td1{
     width:100%;
     margin-bottom:20px;
    }
    .td2
    {
        margin-bottom:20px;
        margin-left: 0px;
    }
    .mob-nav-icon
   {
    display: inline-block;
    margin-top: 0px;
   }

   .main-nav {
    width:100%;
    height: 10%;

}
.main-nav li{
    
    display:list-item;
    margin-left: 100px;
  }
.mob-nav-icon
   {
    display: inline-block;
    margin-top: 0px;
    padding-top: 0px;
   }

}

/* small phones to small tablets from 481px to 767px */
@media only screen and (max-width:767px)
{
   body{
    font-size: 25px;
   }

   .hero-text-box{
    padding: 0 4%;
    font-size: 10px;
   width: 90%;
   }
   .col{
    width: 100%;
   }
   .main-nav{
    display: none;
   }
   .mob-nav-icon
   {
    display: inline-block;
    margin-top: 0px;
   }
   .main-nav {
    width:100%;
    height: 10%;

}
.main-nav li{
    
    display:list-item;
    margin-left: 100px;
  }
.mob-nav-icon
   {
    display: inline-block;
    margin-top: 0px;
    padding-top: 0px;
   }

}

/* large phone screen from 768px to 1023px */
@media only screen and (max-width:1023px)
{
    .row{
        padding: 0 2%;
    }
    body{
        font-size: 15px;
    }

    section{
        padding: 30px 0;
    }

    .long-copy
{
    line-height: 165%;
    width: 80%;
    margin-left: 10%;
    text-align: left;
    
}
.app-image{
  width: 230px;  
}
.work-step{
    margin-top: 5px;
    margin-bottom: 18px;
}
.work-step p{
   width: 80%;
}
.work-step div
{
   
   margin-left: 20px; 
   margin-right: 20px;
   width: 40px;
   height: 40px;
 
}
h2{
    font-size: 25px;
}
.city-feature
{
padding-bottom: 10px;
}

.city-feature a
{
font-size: 12px;
}


.icon-small
{
    font-size: 15px;
   display: inline-block;
   text-align: left;
   vertical-align: middle;

}

.plan-box{
    width: 105%;
  
}
.plan-price
{
    font-size: 35px;
}

footer p{
    width: 80%;
    text-align: left;
}
.main-nav {
    width:100%;
    height: 10%;

}
.main-nav li{
    
    display:list-item;
    margin-left: 100px;
  }
.mob-nav-icon
   {
    display: inline-block;
    margin-top: 0px;
    padding-top: 0px;
   }
}

/* larger phone screen from 1023px to 1200px */
@media only screen and (max-width:1200px)
{
    .main-nav{
    
        width:100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}